<%- include('../partials/header') %>

    <main class="main container" id="main">
        <img src="./media/avatar.jpg" alt="avatar the last air bender image">
        <figcaption class='synopsis'><%= data[0].synopsis %> </figcaption>
    </main>
        
<%- include('../partials/footer') %> 